<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Musier</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script type="text/javascript" src="{% static 'app/jquery-1.11.2.min.js' %}"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'app/notionLoad.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/abcjs-midi.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'app/loaders.min.css' %}">  
</head>


<body>
  <div class="main">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/app"> Musier </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/app">Home</a></li>
                <li class="active"><a href="#">Notions</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>	
    
    <div class="row">
      <from action="/app/notionLoad/" method='POST' id="notion_form">
      {% csrf_token %}
      <div class="col-lg-3 col-md-3 col-sm-10 style-margin">
          <div class="form-group col-lg-12 col-md-12">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Title</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input id = "Title" class="form-control" placeholder="Title of this song">
            </div>
          </div>

          <div class="form-group col-lg-12 col-md-12">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Major</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <select id = "Major" class="form-control">
                  <option value="1" class="">Major</option>
                  <option value="0" class="">Minor</option>
              </select>
            </div>
          </div>

        <div class="form-group col-lg-12 col-md-12">
              <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Meter</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <select id = "Meter" class="form-control">
                    <option value="1" class="Meter">3/4</option>
                    <option value="2" class="Meter">4/4</option>
                </select>
              </div>
        </div>
        <input class="btn btn-default col-sm-12" id = "submit" type="submit" value="Click Here To Go"/>
        <div class = "btn btn-default col-sm-12 active" id = "waiting" style="display: none;">Loading<span>
          <div class="ball-clip-rotate-multiple" "><div><div></div></div></div></span>
        </div>
        
        <div class="btn btn-default label-control col-sm-12">
          <a  id="midi_download" style="display: none;"></a>
        </div>
        <textarea class="form-control"  id="editor-textarea" style="min-height: 500px;height:auto;margin-top: 200px;">X:1
T:
M: 3/4
L: 1/8
Q: 1/4=150
V:1
K:C
%%MIDI program 25</textarea>
      </div>
      </from>

      <div class="col-lg-7 col-md-7 col-sm-10 style-margin">
        <div id= "midi"></div>
        <textarea class="form-control" rows="6" id="notions"  form="notion_form" style="display:none;"></textarea>
        <div id = "notioanCanvas" style=""></div>
      </div>
    </div>
  

    <footer class="footer">
      <div class="container foot">
        <p> To be completed by MLWYZ.</p>
      </div>
    </footer> 
  </div>






<script src="{% static 'app/abcjs_midi_4.0.1-min.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'app/abcjs_basic_midi_3.2.1.js' %}" type="text/javascript"></script>
 -->  <script type="text/javascript">
  window.onload = function() {
    abc_editor = new ABCJS.Editor(
      "editor-textarea", { 
        paper_id: "notioanCanvas", 
        generate_midi: true, 
        midi_id: "midi",
        midi_download_id:"midi_download", 
        abcjsParams:{
          generateInline: true,
          generateDownload: true
        }
      });
    }
</script>
<script type="text/javascript">
function copyToClipboard(maintext){
  if (window.clipboardData){
    window.clipboardData.setData("Text", maintext);
    }else if (window.netscape){
      try{
        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
    }catch(e){
        alert("该浏览器不支持一键复制！n请手工复制文本框链接地址～");
    }
    var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
    if (!clip) return;
    var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
    if (!trans) return;
    trans.addDataFlavor('text/unicode');
    var str = new Object();
    var len = new Object();
    var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
    var copytext=maintext;
    str.data=copytext;
    trans.setTransferData("text/unicode",str,copytext.length*2);
    var clipid=Components.interfaces.nsIClipboard;
    if (!clip) return false;
    clip.setData(trans,null,clipid.kGlobalClipboard);
  }
  alert("以下内容已经复制到剪贴板nn" + maintext);
}

    //使用方法 
    //$(文本域选择器).insertContent("插入的内容"); 
    //在光标位置插入内容, 并选中 
    (function($) { 
    $.fn.extend({ 
        insertContent: function(myValue, t) { 
            var $t = $(this)[0]; 
            if (document.selection) { //ie 
                this.focus(); 
                var sel = document.selection.createRange(); 
                sel.text = myValue; 
                this.focus(); 
                sel.moveStart('character', -l); 
                var wee = sel.text.length; 
                if (arguments.length == 2) { 
                var l = $t.value.length; 
                sel.moveEnd("character", wee + t); 
                t <= 0 ? sel.moveStart("character", wee - 2 * t - myValue.length) : sel.moveStart("character", wee - t - myValue.length); 
                sel.select(); 
                } 
            } else if ($t.selectionStart || $t.selectionStart == '0') { 
                var startPos = $t.selectionStart; 
                var endPos = $t.selectionEnd; 
                var scrollTop = $t.scrollTop; 
                $t.value = $t.value.substring(0, startPos) + myValue + $t.value.substring(endPos, $t.value.length); 
                this.focus(); 
                $t.selectionStart = startPos + myValue.length; 
                $t.selectionEnd = startPos + myValue.length; 
                $t.scrollTop = scrollTop; 
                if (arguments.length == 2) { 
                $t.setSelectionRange(startPos - t, $t.selectionEnd + t); 
                this.focus(); 
                } 
            } 
            else { 
            this.value += myValue; 
            this.focus(); 
            } 
        } 
        }) 
    })(jQuery);
    function isNum(s)
    {
        if(s!=null){
            var r,re;
            re = /\d*/i; //\d表示数字,*表示匹配多个数字
            r = s.match(re);
            return (r==s)?true:false;
        }
        return false;
    }
</script>
<script type="text/javascript">
    
    //文本框输入
    $("#inputArea").keypress(function(event){
        var k = event.which; 
        k = String.fromCharCode(k);
        if (k == "|") {
            $(this).insertContent("|");
        };
        if (isNaN(k)) {
            switch(k){
                case "w": $(this).insertContent("'");break;
                case "s": $(this).insertContent(".");break;
                case "d": $(this).insertContent("+");break;
                case "a": $(this).insertContent("-");break;
            }
            return false;
        };
        $(this).insertContent(k); 
        return false;
    });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $.ajaxSetup({
       data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('#notion_form').submit(function(){
      var Major = $("#Major").val();                
      var Meter = $("#Meter").val(); 
      var notions = $("#notions").val(); 
      var Title = $('#Title').val();
      $("#submit").hide();
      $('#waiting').show();
      $.ajax({
          type:"POST",
          data: {Major:Major, Meter:Meter, notions:notions, Title:Title},
          url: "", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
          cache: false,
          dataType: "JSON",
          success: function(result, statues, xml){  
            console.log(result.generated_notions) 
            $('#editor-textarea').val(result.generated_notions);
            $('#editor-textarea').change();                  //成功时弹出view传回来的结果
            $("#submit").show();
            $('#midi_download').show();
            $('#waiting').hide();
          },
          error: function(){
              alert("false");
              $("#submit").show();
              $('#waiting').hide();
          }
      });
      return false;
    });
    $('#submit').click(function(){
      $('#notion_form').submit();
    });
  });
</script>
</body>
</html>