<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musier</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script type="text/javascript" src="{% static 'app/jquery-1.11.2.min.js' %}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'app/notionLoad.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/abcjs-midi.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'app/loaders.min.css' %}"> 
</head>


<body>
  <!-- Header -->
  <div id="header-wrapper">
    <div id="header">
      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current"><a href="/app">Home</a></li>
            <li><a href="/app/notionLoad">Generator</a></li>
          </ul>
        </nav>

    </div>
  </div>
  <div class="main">

    <div class="row">
      <from action="/app/notionLoad/" method='POST' id="notion_form">{% csrf_token %}<div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group col-lg-12 col-md-12" style="display: none" id="TitleInput">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4" >Title</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input id = "Title" class="form-control" placeholder="Title of this song">
            </div>
          </div>

          <div class="form-group col-lg-12 col-md-12">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Major</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <select id = "Major" class="form-control">
                  <option value="1" class="">Major</option>
                  <option value="0" class="">Minor</option>
              </select>
            </div>
          </div>

        <div class="form-group col-lg-12 col-md-12">
              <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Meter</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <select id = "Meter" class="form-control">
                    <option value="1" class="Meter">3/4</option>
                    <option value="2" class="Meter">4/4</option>
                </select>
              </div>
        </div>

        <textarea class="form-control"  id="inputArea" style="margin-top: 100px;resize: none;" placeholder="Input your prefer melody here.(Simple musical notation.)
e.g.12311231345345" rows = "3" form="notion_form"></textarea>

        <div class="instruction">
          Instruction:<br/>  
          <span class="ico_key">1</span>  ~  <span class="ico_key">7</span> :  musical notes<br/>
          <span class="ico_key">W</span>  <span class="ico_key">S</span>  :  rise & drop an octave<br/>
          <span class="ico_key">A</span>  <span class="ico_key">D</span>  :  shorten & extend the beat
        </div>

        <input class="btn btn-default col-sm-12 form-control" id = "submit" type="submit" value="Click Here To Go"/>
        <div class = "btn btn-default col-sm-12 form-control active" id = "waiting" style="display: none;">Loading<span>
          <div class="ball-clip-rotate-multiple" "><div><div></div></div></div></span>
        </div>

        <div class="btn btn-default label-control col-sm-12 form-control" id="midi_download_btn" style="display: none;">
          <a  id="midi_download" ></a>
        </div>

        <div class="btn btn-default label-control col-sm-12" id="map_download" style="display: none;">Save Sheet
        </div>
        
        <textarea class="form-control"  id="editor-textarea" readonly="readonly" style="min-height: 500px;height:auto;margin-top: 30px;resize: none;">X:1
T:
M: 3/4
L: 1/8
Q: 1/4=150
V:1
K:C
%%MIDI program 25</textarea>

      </div></from>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <div id= "midi"></div>
        <div id = "notioanCanvas" style=""></div>
      </div>
    </div>
  </div>

<script src="{% static 'app/abcjs_midi_4.0.1-min.js' %}" type="text/javascript"></script>
<script src="{% static 'app/html2canvas.min.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'app/abcjs_basic_midi_3.2.1.js' %}" type="text/javascript"></script>
 -->  
 <script type="text/javascript">
  window.onload = function() {
    abc_editor = new ABCJS.Editor(
      "editor-textarea", { 
        paper_id: "notioanCanvas", 
        generate_midi: true, 
        midi_id: "midi",
        midi_download_id:"midi_download", 
        abcjsParams:{
          generateInline: true,
          generateDownload: true
        }
      });
    }
</script>
<script src="{% static 'app/musier.js' %}" type="text/javascript">
</script>
<script type="text/javascript">
  /*
  POST
  */
  $(document).ready(function(){
    $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});
    $('#notion_form').submit(function(){
      var Major = $("#Major").val();                
      var Meter = $("#Meter").val(); 
      var notions = $("#inputArea").val(); 
      var Title = $('#Title').val();
      $("#submit").hide();
      $('#waiting').show();
      $.ajax({
          type:"POST",
          data: {Major:Major, Meter:Meter, notions:notions, Title:Title},
          url: "", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
          cache: false,
          dataType: "JSON",
          success: function(result, statues, xml){ 
            $('#editor-textarea').val(result.generated_notions);
            $('#editor-textarea').change();
            $('#TitleInput').show();
            $("#submit").show();
            $('#midi_download_btn').show();
            $('#map_download').show();
            $('#waiting').hide();
            $("#Major").attr("readonly","readonly");
            $("#Meter").attr("readonly","readonly");
          },
          error: function(){
              alert("false");
              $("#submit").show();
              $('#waiting').hide();
          }
      });
      return false;
    });
    $('#submit').click(function(){
      $('#notion_form').submit();
    });
    $('#map_download').click(function(){
      html2canvas(document.querySelector("#notioanCanvas")).then(canvas => {
        var imgsrc = canvas.toDataURL();
        var title = $('#Title').val();
        var a = document.createElement("a");
        a.href_lang='image/png';
        a.download = title+"Sheet.png";
        a.href = imgsrc; 
        a.click();
      });
    });
  });
</script>
</body>
</html>