<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Musier</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script type="text/javascript" src="{% static 'app/jquery-1.11.2.min.js' %}"></script>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'app/notionLoad.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/abcjs-midi.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'app/loaders.min.css' %}">  
</head>


<body>
  <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/app"> Musier </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/app">Home</a></li>
                <li class="active"><a href="#">Notions</a></li>
              </ul>
            </div>
          </div>
        </nav>
  </div>  
  <div class="main">
    
    
    <div class="row">
      <from action="/app/notionLoad/" method='POST' id="notion_form">{% csrf_token %}<div class="col-lg-3 col-md-3 col-sm-10">
          <div class="form-group col-lg-12 col-md-12">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Title</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input id = "Title" class="form-control" placeholder="Title of this song">
            </div>
          </div>

          <div class="form-group col-lg-12 col-md-12">
            <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Major</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <select id = "Major" class="form-control">
                  <option value="1" class="">Major</option>
                  <option value="0" class="">Minor</option>
              </select>
            </div>
          </div>

        <div class="form-group col-lg-12 col-md-12">
              <label class="label-control control-label col-lg-4 col-md-4 col-sm-4">Meter</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <select id = "Meter" class="form-control">
                    <option value="1" class="Meter">3/4</option>
                    <option value="2" class="Meter">4/4</option>
                </select>
              </div>
        </div>

        <textarea class="form-control"  id="inputArea" style="margin-top: 100px;margin-bottom: 10px;resize: none;" placeholder="Input your prefer melody here.(Simple music notion.)
e.g.12311231345345" rows = "3" form="notion_form"></textarea>

        <input class="btn btn-default col-sm-12 form-control" id = "submit" type="submit" value="Click Here To Go"/>
        <div class = "btn btn-default col-sm-12 form-control active" id = "waiting" style="display: none;">Loading<span>
          <div class="ball-clip-rotate-multiple" "><div><div></div></div></div></span>
        </div>

        <div class="btn btn-default label-control col-sm-12 form-control" id="midi_download_btn" style="display: none;">
          <a  id="midi_download" ></a>
        </div>

        <div class="btn btn-default label-control col-sm-12" id="map_download" style="display: none;">Save Sheet
        </div>
        
        <textarea class="form-control"  id="editor-textarea" style="min-height: 500px;height:auto;margin-top: 30px;resize: none;">X:1
T:
M: 3/4
L: 1/8
Q: 1/4=150
V:1
K:C
%%MIDI program 25</textarea>

      </div></from>

      <div class="col-lg-7 col-md-7 col-sm-10">
        <div id= "midi"></div>
        <div id = "notioanCanvas" style=""></div>
      </div>
    </div>
  

    <footer class="footer">
      <div class="container foot">
        <p> To be completed by MLWYZ.</p>
      </div>
    </footer> 
  </div>

<script src="{% static 'app/abcjs_midi_4.0.1-min.js' %}" type="text/javascript"></script>
<script src="{% static 'app/html2canvas.min.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'app/abcjs_basic_midi_3.2.1.js' %}" type="text/javascript"></script>
 -->  
 <script type="text/javascript">
  window.onload = function() {
    abc_editor = new ABCJS.Editor(
      "editor-textarea", { 
        paper_id: "notioanCanvas", 
        generate_midi: true, 
        midi_id: "midi",
        midi_download_id:"midi_download", 
        abcjsParams:{
          generateInline: true,
          generateDownload: true
        }
      });
    }
</script>
<script type="text/javascript">
{}(function($){
    /*
     * 文本域光标操作（选、添、删、取）
     */
    $.fn.extend({
        /*
         * 获取光标所在位置
         */
        iGetFieldPos:function(){
            var field=this.get(0);
            if(document.selection){
                //IE
                $(this).focus();
                var sel=document.selection;
                var range=sel.createRange();
                var dupRange=range.duplicate();
                dupRange.moveToElementText(field);
                dupRange.setEndPoint('EndToEnd',range);
                field.selectionStart=dupRange.text.length-range.text.length;
                field.selectionEnd=field.selectionStart+ range.text.length;
            }
            return field.selectionStart;
        },
        /*
         * 选中指定位置内字符 || 设置光标位置
         * --- 从start起选中(含第start个)，到第end结束（不含第end个）
         * --- 若不输入end值，即为设置光标的位置（第start字符后）
         */
        iSelectField:function(start,end){
            var field=this.get(0);
            //end未定义，则为设置光标位置
            if(arguments[1]==undefined){
                end=start;
            }
            if(document.selection){
                //IE
                var range = field.createTextRange();
                range.moveEnd('character',-$(this).val().length);
                range.moveEnd('character',end);
                range.moveStart('character',start);
                range.select();
            }else{
                //非IE
                field.setSelectionRange(start,end);
                $(this).focus();
            }
        },
        /*
         * 选中指定字符串
         */
        iSelectStr:function(str){
            var field=this.get(0);
            var i=$(this).val().indexOf(str);
            i != -1 ? $(this).iSelectField(i,i+str.length) : false;
        },
        /*
         * 在光标之后插入字符串
         */
        iAddField:function(str){
            var field=this.get(0);
            var v=$(this).val();
            var len=$(this).val().length;
            if(document.selection){
                //IE
                $(this).focus()
                document.selection.createRange().text=str;
            }else{
                //非IE
                var selPos=field.selectionStart;
                $(this).val($(this).val().slice(0,field.selectionStart)+str+$(this).val().slice(field.selectionStart,len));
                this.iSelectField(selPos+str.length);
            };
        },
        /*
         * 删除光标前面(-)或者后面(+)的n个字符
         */
        iDelField:function(n){
            var field=this.get(0);
            var pos=$(this).iGetFieldPos();
            var v=$(this).val();
            //大于0则删除后面，小于0则删除前面
            $(this).val(n>0 ? v.slice(0,pos-n)+v.slice(pos) : v.slice(0,pos)+v.slice(pos-n));
            $(this).iSelectField(pos-(n<0 ? 0 : n));
        }
    });
})(jQuery);
    function isNum(s)
    {
        if(s!=null){
            var r,re;
            re = /\d*/i; //\d表示数字,*表示匹配多个数字
            r = s.match(re);
            return (r==s)?true:false;
        }
        return false;
    }
</script>
<script type="text/javascript">
    var LongNote = 0;
    var n_bgn = false;
    //文本框输入
    $("#inputArea").keypress(function(event){
      if (event.keyCode == 8){
        return false;
      };
      var k = event.which; 
      
      k = String.fromCharCode(k);
      switch(k){
          case "w": if(n_bgn){$(this).iAddField("'");}break;
          case "s": if(n_bgn){$(this).iAddField(".");}break;
          case "d": if(n_bgn){$(this).iAddField("+");LongNote += 1;console.log(LongNote);}break;
          case "a": if(LongNote >= 1){console.log("Del");LongNote-=1;$(this).iDelField(1);};break;
          case "1": $(this).iAddField("1");LongNote = 0;n_bgn=true;break;
          case "2": $(this).iAddField("2");LongNote = 0;n_bgn=true;break;
          case "3": $(this).iAddField("3");LongNote = 0;n_bgn=true;break;
          case "4": $(this).iAddField("4");LongNote = 0;n_bgn=true;break;
          case "5": $(this).iAddField("5");LongNote = 0;n_bgn=true;break;
          case "6": $(this).iAddField("6");LongNote = 0;n_bgn=true;break;
          case "7": $(this).iAddField("7");LongNote = 0;n_bgn=true;break;
      }
      return false;

    });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $.ajaxSetup({
       data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('#notion_form').submit(function(){
      var Major = $("#Major").val();                
      var Meter = $("#Meter").val(); 
      var notions = $("#inputArea").val(); 
      var Title = $('#Title').val();
      $("#submit").hide();
      $('#waiting').show();
      $.ajax({
          type:"POST",
          data: {Major:Major, Meter:Meter, notions:notions, Title:Title},
          url: "", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
          cache: false,
          dataType: "JSON",
          success: function(result, statues, xml){  
            console.log(result.generated_notions) 
            $('#editor-textarea').val(result.generated_notions);
            $('#editor-textarea').change();                  //成功时弹出view传回来的结果
            $("#submit").show();
            $('#midi_download_btn').show();
            $('#map_download').show();
            $('#waiting').hide();
          },
          error: function(){
              alert("false");
              $("#submit").show();
              $('#waiting').hide();
          }
      });
      return false;
    });
    $('#submit').click(function(){
      $('#notion_form').submit();
    });
    $('#map_download').click(function(){
      console.log("save");
      html2canvas(document.querySelector("#notioanCanvas")).then(canvas => {
        var imgsrc = canvas.toDataURL();
        var a = document.createElement("a");
        a.href_lang='image/png';
        a.download = "Sheet.png";
        a.href = imgsrc; 
        a.click();
      });
    });
  });
</script>
</body>
</html>