.bg{
	background-image: url('./img/Musier.png') ;
	background-size: 100% ;
	background-color: #fcfaf2;
	height: auto;
}




/**水平居中*/
.flex_center_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.buttums-group{
	padding-left: 0;
	width: 100%;
	margin-top: 62%;
	margin-bottom: 6%
}

.buttum{
	margin-top: 7px;
	width: 97px;
}