body {
	height: 100%;
	background-color: #fffffb;
}


.container{
	font-family: "Quicksand";
}


.bg{
	background-color: #fcfaf2;
	height:auto;
}

.forms{
	margin-top:7%;
}

.label-control{
	margin-top: 7px;
}

.style-margin{
	margin-left: 16.7%;
}

.pull-right.style-margin{
	margin-right:18%;
}